.square {
  width: 50px;
  height: 50px;
  padding: 0;
  
  margin-top: -1px;
  margin-right: -1px;

  font-weight: bold;
  font-size: 36px;
  float: left;

  background-color: transparent;
  border: 1px solid grey;

  cursor: pointer;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
